body
{
    background-size: cover;
}

canvas
{
    border: solid whitesmoke;
    border-radius: 50px;
    box-shadow: 18px 18px 18px black;
    border-style: dashed;
}

div
{
    background-color: grey;
    color: black;
}

.no1 {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color:black;
    line-height: 3;
    text-align: center;
  }